:root {
  /* サイバー感のあるカラーパレット */
  --primary-color: #00fffc;
  --secondary-color: #ff00ff;
  --accent-color: #ffd700;

  /* 補助色 */
  --dark-background: #0f0f0f; /* 深い黒の背景: コンテンツを際立たせる */
  --light-background: #2e2e2e; /* 明るいグレーの背景: UI要素の背景に */
  --hover-color: #008cff; /* ブルーネオン: ホバー時や強調表示に */

  --color-white: #ffffff;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #cecdcf;
  --color-gray-400: #afa4aa;
  --color-gray-500: #939598;
  --color-gray-600: #78757d;
  --color-gray-700: #54565a;
  --color-gray-800: #444648;
  --color-gray-900: #313539;
}
