.root {
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  /* 初期の滲んだボーダー効果 */
  box-shadow: 0 0 0px var(--secondary-color);
}

/* フォーカス時に滲みを強調し、じんわり広がるアニメーションを適用 */
.focused {
  animation: focusSpread 1s ease-out forwards;
}

/* じんわり滲むアニメーション */
@keyframes focusSpread {
  from {
    box-shadow: 0 0 0px var(--secondary-color);
  }
  to {
    box-shadow: 0 0 8px var(--secondary-color);
  }
}

.input {
  border: none;
  width: 100%;
  height: 100%;
}
